<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{281,0},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{318,0},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{353,0},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{30,0},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{59,0},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{89,0},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{120,0},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,44}</string>
                <key>textureRect</key>
                <string>{{152,0},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{185,0},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{216,0},{32,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,44}</string>
                <key>textureRect</key>
                <string>{{248,0},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{390,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:045aece15cb9b2d0e0ec589e086b9a75:f6b6337b19361aa11bd07a2066ac8876:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
